body {
  background-image: url('../assets/background.jpg');
  height: 100%;
  background-size: auto;
  background-repeat: none;
  opacity: 0.8;
}
.container-list {
  padding: 5px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
  list-style: none;
}

.text-title {
  text-shadow: 2px 2px darksalmon;
}

.list-group-item {
  background-color: lightgoldenrodyellow;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.16), 0px 0px 6px rgba(0,0,0,0.23);
  margin-bottom: 15px !important;
  margin-right: 15px;
}

.container-detail {
  padding: 20px;
  margin: 20px;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.16), 0px 0px 6px rgba(0,0,0,0.23);
  background-color: #F4F3D1;
}

.main {
  opacity: 1;
  text-align: center;
}

.book-img {
  display: inline-block;
  right: 0;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 1px solid gray;
  border-radius: 2px;
}